# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual environment
.venv/
venv/
ENV/

# Editor files
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
